/** Media **/
@media( max-width: 1100px )
  .protect
    padding: 50px 0
    &__img
      width: 50%
      opacity: 0.5


@media( max-width: 900px )
  .header-menu
    display: none

  .features
    text-align: center
    &-wrapper
      flex-direction: column
      >div:first-child
        margin-bottom: 80px
    &__img
      margin: 0 auto 35px

  .protect
    &__img
      width: 40%
      top: 20%


@media( max-width: 768px )
  .protect
    text-align: center
    &__img
      display: none
    &__text
      width: 100%
    &__title
      line-height: 1.2


@media( max-width: 575px )
  .header
    background: #f6f7f9

  .main
    padding-bottom: 50px
    &__offer
      font-size: 45px
      margin-top: 80px
    &__img
      display: none

  .features
    padding: 80px 0
    &-block
      padding: 0



@media( max-width: 400px )
  .header-wrapper
    flex-wrap: wrap
  .logo
    order: -1
    flex-basis: 100%
    text-align: center
    margin-bottom: 30px

  .protect
    &__button-o
      display: block
      margin-left: 0
      margin: 30px auto 0