/** Media **/
@media( max-width: 900px )
  .header-menu
    display: none

@media( max-width: 575px )
  .header
    background: #f6f7f9

  .main
    padding-bottom: 50px
    &__offer
      font-size: 45px
      margin-top: 80px
    &__img
      display: none

@media( max-width: 400px )
  .header-wrapper
    flex-wrap: wrap
  .logo
    order: -1
    flex-basis: 100%
    text-align: center
    margin-bottom: 30px