/* interface */
/*basic settings*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400; }

p {
  color: #8c8f94; }

img {
  max-width: 100%; }

.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto; }

.section_header {
  font-family: 'Lato', sans-serif; }

.button {
  background-color: #267df4;
  font-size: 16px;
  color: #fff;
  padding: 14px 24px;
  border-radius: 100px; }

.button-o {
  font-size: 16px;
  border: 1px solid #dadcde;
  border-radius: 25px;
  padding: 17px 40px;
  color: #26272d;
  background: transparent; }

/*<header class="header">*/
.header {
  padding: 40px 0 0;
  background: url(../img/header/main-bg.jpg) center center no-repeat;
  background-size: cover; }
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-menu a {
    font-size: 17px;
    color: #26272d;
    letter-spacing: 0px;
    margin-right: 32px; }
  .header-menu__right, .header-menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-btn {
    padding: 10px 20px 10px 15px; }
    .header-btn span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      letter-spacing: 1.1px;
      font-weight: bold; }
      .header-btn span::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 21px;
        background: url(../img/header/apple.png) center no-repeat;
        margin-right: 12px; }

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  margin-right: 27px; }

/*<div class="main">*/
.main {
  text-align: center; }
  .main__offer {
    font-family: 'Varela Round', sans-serif;
    font-size: 62px;
    color: #26272d;
    margin-top: 109px;
    letter-spacing: -0.9px; }
  .main__description {
    max-width: 785px;
    margin: 42px auto 0;
    line-height: 1.3; }
  .main__btn {
    display: block;
    margin: 62px auto 0;
    letter-spacing: 1px; }
    .main__btn span::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: url(../img/main/play.png) center no-repeat;
      margin-right: 12px; }
  .main__img {
    margin-top: 46px; }

/** Media **/
@media (max-width: 900px) {
  .header-menu {
    display: none; } }

@media (max-width: 575px) {
  .header {
    background: #f6f7f9; }
  .main {
    padding-bottom: 50px; }
    .main__offer {
      font-size: 45px;
      margin-top: 80px; }
    .main__img {
      display: none; } }

@media (max-width: 400px) {
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px; } }
